 @font-face {
    font-family: DeadwaxDemoHard-gxadp;
    src: url(/Users/danilbazhitov/Downloads/deadwax-font) format(truetype);
    font-style: normal;
    font-weight: normal;
}
h1{
    font-family: "DeadwaxDemoHard-gxadp";
    }